
.styled-productDetail {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.styled-productDetail img {
  height: 500px;
  width: 500px;
  /* 
  object-fit: cover;
  object-position: center;
  margin: 0; */
}

.styled-productDetail p {
  color: #171717;
  font-weight: 500;
  margin: 0;
  font-size: 0.9rem;
}

.styled-productDetail .b {
  color: #1962d0;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 800;
}

.styled-productDetail h2, .styled-productDetail h3 {
  margin: 0;
}

.styled-productDetail small {
  margin: 0;
  color: #505050;
  text-align: justify;
}

.QtySelect {  
  display: flex;
  flex-direction: row;
  margin: 0.6rem 0;
}

.QtySelect button {
  padding: 0 10px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  max-width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
}

.QtySelect input {
  padding: 0.4rem;
  background-color: transparent;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  max-width: 40px;
  max-height: 40px;
}

.btn-product {
  background-color: #1992d0;
  
}

@media screen and (min-width: 767px) {
  .styled-productDetail {
    flex-direction: row;    
  }

  .styled-productDetail img{
    margin-right: 2rem;
  }
}

@media screen  and (min-width: 1023px) {
  .styled-productDetail {/* 
    flex-direction: row; */
  }
}