.search {
  margin: 0 auto;
  width: 210px;
  &-container {
    align-items: center;
    background-color: white;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    width: 205px;
    &:hover {
      border-color: #dfe1e5;
      box-shadow: 0 1px 6px 0 #20212447;
    }
  }
  &-input {
    border: none;
    height: 40px;
    outline: none;
    width: 160px;
    margin-left: 6px;
  }
}

@media screen and (min-width: 425px) {
  .search {
    width: 310px;
    &-container {
      width: 325px;
    }
    &-input {
      width: 280px;
    }
  }
}

@media screen and (min-width: 1023px) {
  .search {
    width: 535px;
    &-container {
      width: 525px;
    }
    &-input {
      width: 470px;
    }
  }  
}