main .main-input {
  width: 210px;
  margin: 0 auto;
}

main .main-input-container {
  width: 205px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;

}
main .main-input input {
  width: 160px;
  height: 40px;
  border: none;
  outline: none;
}


main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

@media screen and (min-width: 767px) {
  main .main-input {
    width: 530px;
  }
  
  main .main-input-container {
    width: 525px;
  
  }
  main .main-input input {
    width: 480px;
  }

  
}


@media screen and (min-width: 425px) {
  main .main-input {
    width: 310px;
  }
  
  main .main-input-container {
    width: 325px;
  
  }
  main .main-input input {
    width: 280px;
  }

  
}